@import url(http://fonts.googleapis.com/css?family=Ubuntu);


h1, h2, h3, h4, h5 , h6 {
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
    color:#000000;
}

a:hover {
    color:#77b6e2;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#5993bb;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}


#subheader .cart {
    float:right;
    padding-top:4px;
}

#content {
    padding:0 100px;
    overflow:hidden;
}

#sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#f0c142;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#main {
    float:left;
    width: 90%;
    margin-right:-220px;
    overflow:hidden;
    
}

.product-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.product-list .item img {
    width:100%;
    margin-bottom:8px;
}




.product-detail .price {
    color:#333;
    font-size:28px;

}

.product-detail img {
    float:left;
    width:20%;
    margin-right: 20px;
    object-fit: cover;

}

.product-detail p {
    margin-bottom:5;

}

.product-detail p {
    margin-top:20px;
    margin-left:20px;
    
}


.product-detail {
    background: #ffffff;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid rgb(7, 4, 4);
    width: 70%;
    -webkit-box-shadow: 0 2px 3px 0 rgba(74,74,74,.21);
    -moz-box-shadow: 0 2px 3px 0 rgba(74,74,74,.21);
    box-shadow: 0 2px 3px 0 rgba(74,74,74,.21);
    position: relative;
}
