body {
    background: #fff7e4;
}


.alert-light {
    border-color: #bfbfbf ;
}
.form-registe {

    background: #FFF;
    padding: 20px;
    border: 1px solid rgb(7, 4, 4);
    box-sizing: border-box;
    width: 50%;
    -webkit-box-shadow: 0 2px 3px 0 rgba(74,74,74,.21);
    -moz-box-shadow: 0 2px 3px 0 rgba(74,74,74,.21);
    box-shadow: 0 2px 3px 0 rgba(74,74,74,.21);
}

.form-registe > h2 {
    color: #352f22;
    margin-bottom: 10pxc;
}

.form-catalog {
    background: #FFF;
    padding: 50px;
    box-sizing: border-box;
    
}

.form-catalog {
	background: #FFF;
    padding: 20px;
    border: 1px solid rgb(7, 4, 4);
    box-sizing: border-box;
    width: 50%;
    -webkit-box-shadow: 0 2px 3px 0 rgba(74,74,74,.21);
    -moz-box-shadow: 0 2px 3px 0 rgba(74,74,74,.21);
    box-shadow: 0 2px 3px 0 rgba(74,74,74,.21);
}




